<div class="window">
  <%= link_to root_path do %>
    <span id="logotype">VALOCH</span>
  <% end %>
  <div class="social_networks">
    <%= link_to "https://www.facebook.com/valentin.selve", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/_valoch/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/valentinselve/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://github.com/lavaloch", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div class="about_me">
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar, nunc id convallis cursus, elit leo egestas mi, id dapibus odio arcu in turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper purus et sem dapibus vulputate. Fusce eleifend, enim imperdiet vehicula consectetur, neque ligula facilisis purus, quis placerat nisi mi eget ipsum. Maecenas a venenatis ex. Sed finibus nibh at facilisis condimentum. Proin turpis nisl, pharetra blandit ante eget, tincidunt viverra erat. Pellentesque rhoncus, mi sit amet dapibus porttitor, erat nisl mollis enim, non porta libero est ac est. Phasellus volutpat fringilla commodo. Fusce egestas porta ante, ut fermentum ante pellentesque ut.</span>
    <div>
      <%= image_tag "vs.jpg", class: "avatar", alt: "" %>
    </div>
  </div>
  <%= link_to "Go back", root_path, class: "go_back_link" %>
</div>
