<div class="window">
  <%= link_to root_path do %>
    <span id="logotype">VALOCH</span>
  <% end %>
  <div class="social_networks">
    <%= link_to "https://www.facebook.com/valentin.selve", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/_valoch/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/valentinselve/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://github.com/lavaloch", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <%= image_tag "midas.png", class: "logo_alternance_em", alt: "" %>
  <div class="alternance_work">
      <%= link_to "", "https://www.midas.fr/", class: "work_4", target: "_blank" %>
      <%= link_to "", "https://www.midas.fr/Promotions/Promotions.aspx", class: "work_5", target: "_blank" %>
      <%= link_to "", "https://www.midas.fr/club-midas-connect.aspx", class: "work_6", target: "_blank" %>
    </div>
  </div>
  <%= link_to "Go back", pm_path, class: "go_back_link" %>
</div>
