<div class="window">
  <%= link_to root_path do %>
    <span id="logotype">VALOCH</span>
  <% end %>
  <div class="social_networks">
    <%= link_to "https://www.facebook.com/valentin.selve", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/_valoch/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/valentinselve/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://github.com/lavaloch", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div class="work">
    <span class="work_title">Front-end Developer</span>
    <%= link_to fullstack_path, class: "work_items_link" do %>
      <div class="work_items">
        <%= image_tag "ecotiz.png", class: "logo_ecotiz", alt: "" %>
        <p>E-Cotiz is a subscription management solution for clubs & non-profits. Front-end development for the global ecosystem of this start-up and its white labels.</p>
      </div>
    <% end %>
    <%= link_to "https://www.lewagon.com/fr/demoday/70/ei-meet", target: "_blank", class: "work_items_link" do %>
      <div class="work_items">
        <%= image_tag "wagon.png", class: "logo_wagon", alt: "" %>
        <p>Front-end development of EIMEET, final project of bootcamp Le Wagon in 2017. First web development achievement, made in 2 weeks.</p>
      </div>
    <% end %>
  </div>
  <%= link_to "Go back", root_path, class: "go_back_link" %>
</div>
