<div class="window">
  <%= link_to root_path do %>
    <span id="logotype">VALOCH</span>
  <% end %>
  <div class="social_networks">
    <%= link_to "https://www.facebook.com/valentin.selve", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/_valoch/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/valentinselve/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://github.com/lavaloch", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <%= image_tag "ecotiz.png", class: "logo_alternance_em", alt: "" %>
  <div class="alternance_work">
      <%= link_to "", "https://landing.e-cotiz.com/", class: "work_7", target: "_blank" %>
      <%= link_to "", "https://www.espaceasso.caisse-epargne.fr/", class: "work_8", target: "_blank" %>
    </div>
  </div>
  <%= link_to "Go back", request.referer.present? ? request.referer : default_path, class: "go_back_link" %>
</div>
