<div class="window">
  <%= link_to root_path do %>
    <span id="logotype">VALOCH</span>
  <% end %>
  <div class="social_networks">
    <%= link_to "https://www.facebook.com/valentin.selve", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/_valoch/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/valentinselve/", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://github.com/lavaloch", class: "social_networks_icons", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div class="work">
    <span class="work_title">Project Manager</span>
    <%= link_to alternance_path, class: "work_items_link" do %>
      <div class="work_items">
        <%= image_tag "logo_em.png", class: "logo_work", alt: "" %>
        <p>Design and implementation of web projects from the design phase to delivery of more than 20 projects dedicated to law firms.</p>
      </div>
    <% end %>
    <%= link_to freelance_path, class: "work_items_link" do %>
      <div class="work_items">
        <%= image_tag "midas.png", class: "logo_midas", alt: "" %>
        <p>Design of new user stories in official website and development of Midas Connect commercial offer. Freelance for MKTG | Dentsu Aegis</p>
      </div>
    <% end %>
  </div>
  <%= link_to "Go back", root_path, class: "go_back_link" %>
</div>
